@tailwind base;
@tailwind components;
@tailwind utilities;
header {
    font-family: 'Cabin', sans-serif;
    font-weight: 6;
    top: 0;
    z-index: 4;
    background-color: white;
}
.input-search {
    border: 1px solid #eeeff1;
    padding-right: 10px;
}
.input-search input {
    border: 1px solid #eeeff1;
    border-right: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.sidebar {
    background-color: #f2f2f4;
    position: sticky;
    color: #c8c8ca;
    top: 80px;
    left: 0;
    height: 91vh;

}
.content {
    background-color: #f6f8fa;
    z-index: 2;
    box-shadow: -7px 1px 17px -2px rgba(58,59,106,0.12);
    -webkit-box-shadow: -7px 1px 17px -2px rgba(58,59,106,0.12);
    -moz-box-shadow: -7px 1px 17px -2px rgba(58,59,106,0.12);
}


.options-sidebar div {
    transition: 0.3s ease;

}
.options-sidebar {
    div:hover {
        border-left: 2px solid #3a3b6a;
    }
}
.options-sidebar div:focus {

    background-color: white;
    color: #3a3b6a;
    border-left: 5px solid #3a3b6a;
    svg {
        path {
        color: #3a3b6a;

        }
    }
}

.interactions-header{
    svg {
        path {
        transition: 0.3s ease;

        }
    }
    svg:hover{
        path {
            color :gray;
        }
    }
    svg:focus {
        path {
            color: #3a3b6a;
        }
    }
        
}
.background-log-in-register{
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='935' preserveAspectRatio='none' viewBox='0 0 1775 935'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1775' height='935' x='0' y='0' fill='rgba(58%2c 59%2c 106%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c536.755C120.674%2c531.809%2c239.304%2c587.626%2c354.664%2c551.867C489.918%2c509.942%2c631.495%2c443.597%2c700.122%2c319.735C769.914%2c193.77%2c733.357%2c39.967%2c717.598%2c-103.175C701.327%2c-250.97%2c722.996%2c-432.94%2c607.016%2c-525.982C488.574%2c-620.998%2c312.1%2c-531.43%2c161.326%2c-549.427C42.872%2c-563.566%2c-62.884%2c-624.535%2c-182.099%2c-620.174C-328.703%2c-614.811%2c-503.997%2c-630.805%2c-601.851%2c-521.507C-699.585%2c-412.343%2c-647.397%2c-240.328%2c-653.251%2c-93.923C-658.472%2c36.64%2c-684.219%2c168.919%2c-634.286%2c289.669C-583.411%2c412.698%2c-497.907%2c533.403%2c-373.854%2c581.728C-254.481%2c628.23%2c-128.004%2c542.002%2c0%2c536.755' fill='%23262645'%3e%3c/path%3e%3cpath d='M1775 1583.176C1901.609 1562.2730000000001 2027.742 1562.71 2145.215 1511.067 2279.177 1452.176 2429.794 1394.6390000000001 2498.17 1265.261 2567.37 1134.324 2545.014 972.652 2505.149 830.02 2468.323 698.262 2360.298 607.7180000000001 2282.864 494.933 2193.626 364.956 2167.496 157.77099999999996 2015.314 116.56600000000003 1862.435 75.173 1729.811 231.707 1590.761 307.53999999999996 1481.4850000000001 367.13599999999997 1376.37 425.334 1288.1480000000001 513.14 1193.915 606.929 1100.618 705.086 1063.164 832.653 1022.48 971.224 1026.8029999999999 1119.194 1069.725 1257.088 1116.476 1407.282 1174.12 1581.8049999999998 1316.899 1647.8200000000002 1459.768 1713.876 1619.701 1608.815 1775 1583.176' fill='%234e508f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1775' height='935' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    .container-log-in-register {
        height: 60%;
        width: 20%;
        box-shadow: 1px 0px 19px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 0px 19px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 0px 19px 0px rgba(0,0,0,0.75);
        border-radius: 20px;
    }
}
.sign-up-form {
    input {
        padding: 5px;
        margin: 5px;
        border: 1px solid #9ca3af;
        border-radius: 5px;
    }

}
.tab-pane {
    display: none;
    width: 100%;
}
.tab-content {
    width: 100%;
}
.active {
    display: block;

}
ul {
    .active {
    color: #3a3b6a;
    transition: 0.3s ease;
    border-bottom: 1px solid #3a3b6a;
    }
}

.container-form {
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        li {
            transition: 0.3s ease;
        
        }
        li:hover {
           
            color: gray;
        }
    }
}
.user-button {
    background-color: #3a3b6a;
    color: white;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.list-cant-do {
    list-style:square;
}
.home-container {
    min-height: 91vh;
}
.messages-page {
    max-height: 91vh;
}
.title-side-chat {
    color: black;
    font-weight: 600;
}
.container-chat {
    height:93.5% ;
}
.container-messages-chat {
    background-color: #f2f2f4;
    max-height: 655px;
}
.send-message-button {
    background-color: #3a3b6a;

}
.container-chats {
    height: 85%;
    overflow-y: auto;
}
.container-query-box {
    width: 51.5em;
}
.profile-container {
    min-height: 91vh;
}
.container-image-profile {
    background-color: #f2f2f4;
    
    div {
        transition: 0.3s ease;
        border-radius: 50%;
    }
    div:hover {
        background-color: rgba($color: #c5c5c5, $alpha: 0.5);
        cursor: pointer;
       svg {
           display: block;
       }
    }
  
}
.banner-profile {
    transition: 0.3s ease;
}
.banner-profile:hover {
        background-color: rgba($color: #c5c5c5, $alpha: 0.5);
        cursor: pointer;
       svg {
           display: block;
       }
}
.side-container-profile {
    height: fit-content;
    overflow:hidden;
}
.submit {
    background-color: #3a3b6a;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.submit-danger {
    background-color: #e80505;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.submit:hover {
    background-color: #212246;
}
.defaultanimation {
    transition: 0.3s ease;
}

.container-friend-request {
    height:fit-content ;
}
.bg-first {
    background-color: #3a3b6a;

}
.final-text {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #9da4b0; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    span {
        background:#fff; 
        padding:0 10px; 
    }
}
.avatar {
    span {
        padding-top: 5px;
    }
}
.container-posts {
    max-height: fit-content;
}
.notification {
    background-color: #3a3b6a;

}
.container-image-profile-visiter {
    background-color: #f2f2f4;
    span {
        font-size: 60px;
    }
}
.top-chat-user{
    height: 49px;
    div {
        transform: translate(0px,-2px);
       
    }
}